@import "~highlightjs/styles/atom-one-dark.css";

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: rgb(15,15,15);
}

p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

body {
  width: 500px;
  margin: auto;
  font-family: sans-serif;
  color: rgb(75,75,75);
  padding: 40px 0;
}
code {
  background: lightgray;
  border-radius: 1px;
  padding: 2px;
}
details {
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
figure {
  border-left: 1px solid darkgray;
  padding: 5px;
  background: rgb(238, 238, 238);
  border-radius: 1px;
}
hr {
  margin: 20px -20px;
}

section {
  padding-left: 15px;
}
